//* Color Theme Swatches in RGBA */
$color-base1: rgba(102, 36, 0, 1);
$color-base1-hover: rgba(102, 36, 0, 0.9);
$color-base1-focus: rgba(102, 36, 0, 0.427);
$color-base1-recuadro: rgba(102, 36, 0, 0.3);
$color-base1-input: rgba(102, 36, 0, 0.3);
$color-base2: rgba(178, 63, 0, 1);
$color-base3: rgba(87, 80, 19, 0.702);
$color-base4: rgba(0, 102, 98, 1);
$color-base5: rgba(0, 178, 172, 1);
$color-base6: rgba(0, 0, 0, 0.9);
$color-fondo1: rgba(255, 255, 255, 1);
$color-background: rgba(40, 54, 53, 0.1);
$color-borde-h: rgba(0, 0, 0, 0.4);
$color-background-h: rgba(0, 0, 0, 0.777);
